GCP_SA_KEY_JSON=""
GCP_SA_EMAIL=""
GH_TOKEN=""
GH_OWNER="limo"
GH_REPO="multisite-dashboard"
VERCEL_TOKEN=""
VERCEL_PROJECT_ID=""
TURSO_URL_WRITE=""
TURSO_TOKEN_WRITE=""
TURSO_URL_READ=""
TURSO_TOKEN_READ=""
NAVER_API_KEY=""
BOK_API_KEY=""
AUTH_SECRET=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
ADMIN_EMAIL_WHITELIST=""
CRON_SECRET=""
INTERNAL_KEY=""
APP_URL=""
PAGESPEED_API_KEY=""
CRUX_API_KEY=""
INDEXNOW_KEY=""
CLOUDFLARE_API_TOKEN=""
CLOUDFLARE_ZONE_MAP_JSON=""
GOOGLE_ADS_DEVELOPER_TOKEN=""
GOOGLE_ADS_CUSTOMER_ID=""
GOOGLE_ADS_LOGIN_CUSTOMER_ID=""
GOOGLE_ADS_CLIENT_ID=""
GOOGLE_ADS_CLIENT_SECRET=""
GOOGLE_ADS_REFRESH_TOKEN=""
AHREFS_API_TOKEN=""
BING_WEBMASTER_API_KEY=""
